.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  color: midnightblue;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  border-bottom: 5px solid rgb(222, 222, 222);
  padding-bottom: 0.5rem;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  float: left;
  margin: 0 50px;
}

.navigation__link {
  text-decoration: none;
  color: black;
}

.navigation__link--active {
  border-bottom: 7px solid midnightblue;
  padding-bottom: 0.5rem;
  color: midnightblue;
  font-weight: bold;
}

.header input {
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  padding: 1rem;
  margin-right: 30px;
  width: 300px;
}

.header input::placeholder {
  color: rgb(168, 168, 168);
}

.btn-add {
  background-color: midnightblue;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
}

.btn-delete {
  background-color: indianred;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
}

.delete-completed {
  text-align: right;
}

.list {
  margin: 2rem auto;
}

.item {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
}

ul {
  list-style-type: none;
}

.delete {
  border: none;
  background-color: white;
  padding-left: 20px;
}
